
pip3 install spotipy
pip3 install collections
pip3 install pandas
pip3 install seaborn
pip3 install wordcloud


apt-get install python3-nltk

pip install -U scikit-learn

apt-get install python3-matplotlib

apt-get install python3-numpy
